* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
}

a:link, a:visited {
  color: unset;
  text-decoration: none;
}

html {
  font: 10px Lato, sans-serif;
  --coral: #f06c64;
  --grey: #666d89;
}

.wrapper {
  width: 1020px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 77px;
  background-color: #2d303a;
}

.logo {
  margin: 17px 40px;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  color: white;
}

.logo > .colored {
  color: var(--coral);
}

.nav-menu {
  margin: 30px 27px;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.nav-ul {
  display: flex;
}

.nav-ul__separator {
  color: var(--grey);
}

.nav-ul > li {
  margin-right: 12.6px;
  cursor: default;
}

.nav-ul a {
  transition: all 0.3s ease-in-out;
}
.nav-ul a:hover {
  color: var(--coral);
}

.ruler {
  height: 6px;
}

.ruler__header {
  background-color: #323746;
}

.slider {
  display: flex;
  height: 594px;
  background-color: var(--coral);
}

.ruler__slider {
  background-color: #ea676b;
}

.slider__btn {
  width: 100px;
  background: none;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 4px;
  transition: all 0.3s ease-in-out;

}
.slider__btn:hover {
  background-color: #fafafa50;
}

.slider__btn_left {
  background-image: url("assets/icons/left.svg");
}
.slider__btn_right {
  background-image: url("assets/icons/right.svg");
}

.slides {
  flex: 1;
  margin: 0 10px;
}

.phones {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215px;
  height: 458px;
  border-radius: 27px;
  background-color: #f2f2f2;
}

.phone_landscape {
  transform: rotate(90deg);
  margin: 0 calc(calc(458px - 215px) / 2);
}

.phone__cam {
  width: 9px;
  height: 9px;
  box-sizing: border-box;
  margin-top: 16px;
  border-radius: 50%;
  background-color: #eb5055;
  border: 2.5px solid #d8d8d8;

}

.phone__speaker {
  margin-top: 11px;
  width: 36px;
  height: 5px;
  border-radius: 3px;
  background-color: #acacac;
}

.phone__screen {
  width: 188px;
  height: 333px;
  margin-top: 21px;
  border: 3px solid #c6c6c6;
  border-radius: 5px;
}

.phone__btn {
  width: 42px;
  height: 42px;
  margin-top: 7px;
  border-radius: 50%;
  background-color: #fafafa;
  display: flex;
}
.phone__btn > div {
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid #bababa;
  margin: auto;
}

.phone:first-child {
  transform: translate(2px, -15px);
  box-shadow: 6.25px 6.5px #ce5d56, 12.5px 13px #ce5d56,
              18.75px 19.5px #ce5d56, 25px 26px #ce5d56;
}

.phone:first-child > .phone__screen {
  background-image: url("assets/images/saladFaces.png");
  background-position: -13px -135px;
}

.phone:last-child {
  transform: translate(-26px, -15px) rotate(90deg);
  box-shadow: 6.25px -6.25px #ce5d56, 12.5px -12.5px #ce5d56,
              18.75px -18.75px #ce5d56, 25px -25px #ce5d56;
}

.phone:last-child > .phone__screen {
  background-image: url("assets/images/cyanFaces.png");
  background-position: -118px -121px;
}

.section {
  color: var(--grey);
}

.services {
  height: 495px;
  padding: 59px 40px;
  background-color: #f2f2f2;
}

.section__header {
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
}

.section__text {
  margin: 18px 0 47px;
  line-height: 1.7;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: justify;
}

.grid {
  display: grid;
}

.grid_3col {
  gap: 34px 11px;
  grid-template-columns: repeat(3, auto);
}

.grid_2col {
  gap: 12px 22px;
  grid-template-columns: repeat(2, auto);
}

.grid_2col > .icon {
  grid-row: 1 / span 2;
}

.icon {
  width: 60px;
  height: 60px;
}

.cell__header {
  line-height: 0.8;
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: capitalize;
}

.grid_2col:nth-child(2) > .cell__header {
  letter-spacing: 1px;
}

.cell__text {
  height: 64px;
  width: 217px;
  line-height: 1.8;
  font-size: 1.2rem;
  padding-right: 10px;
  text-align: justify;
  overflow: hidden;
}

.ruler__section {
  background-color: white;
}
