$font: 10px Lato, sans-serif;
$color-prime: #f06c64;
$color-prime-dark: #d6564f;
$color-prime-alter: #ea676b;
$color-light-grey: #666d89;
$color-dark-grey: #2d303a;
$color-light: #f0d8d9;
$color-prime-text: #f48c8f;