.section {
  padding: 60px 40px;
}

.section__header {
  font-size: 3rem;
  font-weight: 900;
  text-transform: capitalize;
}

.section__text {
  margin: 19px 0 11px;
  line-height: 1.65;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: justify;
  padding-bottom: 33px;
}

.section__form-group {
  display: flex;
  justify-content: space-between;

}